* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f8fad;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100dvh;
}
.head {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.board {
  border: 8px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(60px, min(26vw, 18vh), 180px);
  height: clamp(60px, min(26vw, 18vh), 180px); /* Added height to match width */
}
main {
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}
.flex {
  display: flex;
}
.row {
  width: 100%;
  justify-content: center;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.turn {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.score {
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  width: clamp(150px, 70%, 250px);
  height: 45px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.lets-play {
  position: fixed; /* Changed from default to fixed */
  top: 0;
  left: 0;
  z-index: 10; /* Ensure it's above all other content */
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.play-button {
  width: 250px;
  height: 70px;
  border: 1px solid rgb(6, 213, 255);
  border-radius: 10px;
  background-color: rgb(6, 213, 255);
  box-shadow: 10px 10px 80px rgba(6, 214, 255, 0.534);
  color: white;
  font-size: 3rem;
  font-family: "Pixelify Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  align-items: center;
  padding-bottom: 10px;
}
.play-button:active {
  font-size: 2rem;
}
.result {
  width: 40%;
  height: 50%;
  min-width: 300px;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f8fad;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  opacity: 0; /* Start fully transparent */
  visibility: hidden; /* Make element not visible */
  pointer-events: none; /* Prevent interaction */
  transition: opacity 1s ease-in;
}
.result.fade-in-pop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Enable interaction */
  transition-delay: 0s; /* Apply visibility transition effect immediately */
}
.display-none {
  display: none; /* Make sure this class is correctly applied to hide the overlay */
}
.paragraph {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  word-spacing: 5px;
}
.result-button {
  font-family: "Poppins", sans-serif;
  width: 250px;
  height: 70px;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(6, 213, 255);
  border: 1px solid rgb(6, 213, 255);
  cursor: pointer;
  color: white;
}
.result-button:active {
  font-size: 1.8rem;
}
.overlay {
  width: 100%;
  height: 100dvh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.329);
  position: fixed; /* Changed from default to fixed */
  top: 0;
  left: 0;
}
